@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.15px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 194, 159, 255;
  --background-end-rgb: 215, 255, 255;
}
.ToastRoot[data-swipe='move'] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.ToastRoot[data-swipe='cancel'] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.ToastRoot[data-swipe='end'] {
  animation: slideRight 100ms ease-out;
}
body {

  letter-spacing: 0.1px;
  font-weight: 500;
  font-size: 16px;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  letter-spacing: 0.3px;
}

h2 {
  font-size: 15px;
  font-weight: 700;

}

/* Body (M) */
h4 {
 font-size: 12px;
 font-weight: 700;
}